#
# Touchscreen driver configuration
#

config TP_SIMULATE_SWITCH
	bool "Tp_simulate_switch"
	default n
	help
	  Say Y here if you want to open the switch function.

	  If you donnot, say N.

if TOUCHSCREEN_MTK_FT5346

config FT5346_FIRMWARE
	string "FT5346 for Mediatek firmware"

config TPD_ROTATE_90
	bool "ft5346 for Mediatek package"
	default n
	help
	Say Y here if you have ft5346 touch panel TPD_ROTATE_90.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_ROTATE_180
	bool "ft5346 for Mediatek package"
	default n
	help
	Say Y here if you have ft5346 touch panel TPD_ROTATE_180.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_ROTATE_270
	bool "ft5346 for Mediatek package"
	default n
	help
	Say Y here if you have ft5346 touch panel TPD_ROTATE_270.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config FT_AUTO_UPGRADE_SUPPORT
	bool "ft5346 for Mediatek package"
	default n
	help
	Say Y here if you have ft5346 touch panel FT_AUTO_UPGRADE_SUPPORT.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config CUST_FTS_APK_DEBUG
	bool "ft5346 for Mediatek package"
	default n
	help
	Say Y here if you have ft5346 touch panel CUST_FTS_APK_DEBUG.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_HAVE_CALIBRATION
	bool "ft5346 for Mediatek package"
	default n
	help
	Say Y here if you have ft5346 touch panel TPD_HAVE_CALIBRATION.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_CUSTOM_CALIBRATION
	bool "ft5346 for Mediatek package"
	default n
	help
	Say Y here if you have ft5346 touch panel TPD_CUSTOM_CALIBRATION.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.
endif
